{
  "swagger": "2.0",
  "info": {
    "description": "The API ",
    "version": "1.0.0",
    "title": "PEON (Play Everything on Nodes)",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "richard@noxnoctua.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "dockerdev.za.cloudlet.cloud:5000",
  "basePath": "/api/1.0",
  "tags": [
    {
      "name": "Servers",
      "description": "Viewing all servers/creating a new server"
    },
    {
      "name": "Server",
      "description": "Managing an existing server."
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/servers": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "Scout the entire PEON War Party",
        "description": "Get the high level information on a PEON orchestrator.",
        "operationId": "getServers",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of servers on node"
          },
          "404": {
            "description": "Command failed."
          }
        }
      },
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Deploy a new PEON War Camp",
        "description": "Deploy a new game server to the Orchestrator.",
        "operationId": "createServer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Server configuration",
            "required": true,
            "schema": {
              "$ref": "#/definitions/servers"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/server/get/{game_uid}.{servername}": {
      "get": {
        "tags": [
          "Server"
        ],
        "summary": "Scout a PEON Warcamp",
        "description": "Get high level information from a specific server on a PEON Orchestrator.",
        "operationId": "getServer",
        "parameters": [
          {
            "name": "game_uid",
            "in": "path",
            "description": "The PEON game unique ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "servername",
            "in": "path",
            "description": "The unqiue name for the server.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Details of a specific server."
          },
          "404": {
            "description": "Command failed."
          }
        }
      }
    },
    "/server/stats/{game_uid}.{servername}": {
      "get": {
        "tags": [
          "Server"
        ],
        "summary": "Get the full inventory of a PEON Warcamp",
        "description": "Get information from a specific server on a PEON Orchestrator with extended metrics/statistics.",
        "operationId": "getServerStats",
        "parameters": [
          {
            "name": "game_uid",
            "in": "path",
            "description": "The PEON game unique ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "servername",
            "in": "path",
            "description": "The unqiue name for the server.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Details of a specific server with container metrics/statistics."
          },
          "404": {
            "description": "Command failed."
          }
        }
      }
    },
    "/server/start/{game_uid}.{servername}": {
      "put": {
        "tags": [
          "Server"
        ],
        "summary": "Start a PEON Warcamp",
        "description": "Trigger the container start of a specific PEON container's game server.",
        "operationId": "startServer",
        "parameters": [
          {
            "name": "game_uid",
            "in": "path",
            "description": "The PEON game unique ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "servername",
            "in": "path",
            "description": "The unqiue name for the server.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON of basic server information."
          },
          "404": {
            "description": "Command failed."
          }
        }
      }
    },
    "/server/stop/{game_uid}.{servername}": {
      "put": {
        "tags": [
          "Server"
        ],
        "summary": "Stop a PEON Warcamp",
        "description": "Trigger the container stop of a specific PEON container's game server.",
        "operationId": "stopServer",
        "parameters": [
          {
            "name": "game_uid",
            "in": "path",
            "description": "The PEON game unique ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "servername",
            "in": "path",
            "description": "The unqiue name for the server.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON of basic server information."
          },
          "404": {
            "description": "Command failed."
          }
        }
      }
    },
    "/server/restart/{game_uid}.{servername}": {
      "put": {
        "tags": [
          "Server"
        ],
        "summary": "Restart a PEON Warcamp",
        "description": "Trigger the container restart of a specific PEON container's game server.",
        "operationId": "restartServer",
        "parameters": [
          {
            "name": "game_uid",
            "in": "path",
            "description": "The PEON game unique ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "servername",
            "in": "path",
            "description": "The unqiue name for the server.",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON of basic server information."
          },
          "404": {
            "description": "Command failed."
          }
        }
      }
    },
    "/server/description/{game_uid}.{servername}": {
      "put": {
        "tags": [
          "Server"
        ],
        "summary": "Change motto of a PEON Warcamp",
        "description": "Trigger the container restart of a specific PEON container's game server.",
        "operationId": "descriptionServer",
        "parameters": [
          {
            "name": "game_uid",
            "in": "path",
            "description": "The PEON game unique ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "servername",
            "in": "path",
            "description": "The unqiue name for the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "New server description.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/server.description"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON of basic server information."
          },
          "404": {
            "description": "Command failed."
          }
        }
      }
    },
    "/server/destroy/{game_uid}.{servername}": {
      "delete": {
        "tags": [
          "Server"
        ],
        "summary": "Disband a PEON Warcamp, with the option to eradicate it.",
        "description": "Remove a PEON game server. Add eradicate switch to remove config files.",
        "operationId": "destroyServer",
        "parameters": [
          {
            "name": "game_uid",
            "in": "path",
            "description": "The PEON game unique ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "servername",
            "in": "path",
            "description": "The unqiue name for the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Optionally remove all data/config files as well.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/server.destroy"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON of basic server information."
          },
          "404": {
            "description": "Command failed."
          }
        }
      }
    },
    "/server/eradicate/{game_uid}.{servername}": {
      "delete": {
        "tags": [
          "Server"
        ],
        "summary": "Remove the last remaining remnants of a PEON War Camp.",
        "description": "Delete all files of a removed game server.",
        "operationId": "eradicateServer",
        "parameters": [
          {
            "name": "game_uid",
            "in": "path",
            "description": "The PEON game unique ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "servername",
            "in": "path",
            "description": "The unqiue name for the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Manditory confirmation on data delete.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/server.destroy"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON of basic server information."
          },
          "404": {
            "description": "Command failed."
          }
        }
      }
    }
  },
  "definitions": {
    "servers": {
      "description": "The PEON Orchestrator container settings.",
      "type": "object",
      "required": [
        "game_uid",
        "servername",
        "description",
        "settings"
      ],
      "properties": {
        "game_uid": {
          "type": "string",
          "format": "string",
          "example": "valhiem"
        },
        "servername": {
          "type": "string",
          "format": "string",
          "example": "server01"
        },
        "description": {
          "type": "string",
          "format": "string",
          "example": "My PEON Valhiem server"
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/servers.settings.environment-variables"
          }
        }
      }
    },
    "servers.settings.environment-variables": {
      "description": "Configuring environment variables in your game server.",
      "type": "object",
      "required": [
        "type",
        "name",
        "content"
      ],
      "properties": {
        "type": {
          "type": "string",
          "format": "string",
          "example": "env"
        },
        "name": {
          "type": "string",
          "format": "string",
          "example": "Environment Variables"
        },
        "content": {
          "$ref": "#/definitions/servers.settings.environment-variables.content"
        }
      }
    },
    "servers.settings.environment-variables.content": {
      "description": "DIFFERENT FOR EACH GAME.\n E.g: Valhiem specific server settings (found in game plan).",
      "type": "object",
      "properties": {
        "SERVERNAME": {
          "type": "string",
          "format": "string",
          "example": "My-Awesome-Valhiem-Server"
        },
        "WORLDNAME": {
          "type": "string",
          "format": "string",
          "example": "myworld"
        },
        "PASSWORD": {
          "type": "string",
          "format": "string",
          "example": "password123"
        }
      }
    },
    "servers.settings.json-file": {
      "description": "Create a JSON file in ../servers/{game_uid}/{servername}/config/",
      "type": "object",
      "required": [
        "type",
        "name",
        "content"
      ],
      "properties": {
        "type": {
          "type": "string",
          "format": "string",
          "example": "json"
        },
        "name": {
          "type": "string",
          "format": "string",
          "example": "my-file-name.json"
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "example": {
              "key1": "value1",
              "key2": "value2",
              "key3": [
                "item1",
                "item2"
              ]
            }
          }
        }
      }
    },
    "servers.settings.text-file": {
      "description": "Create a TEXT file in ../servers/{game_uid}/{servername}/config/",
      "type": "object",
      "required": [
        "type",
        "name",
        "content"
      ],
      "properties": {
        "type": {
          "type": "string",
          "format": "string",
          "example": "txt"
        },
        "name": {
          "type": "string",
          "format": "string",
          "example": "my-file-name.some-extension"
        },
        "content": {
          "type": "string",
          "format": "string",
          "example": "My text file.\\nWith some content in it.\\n\\n"
        }
      }
    },
    "server.description": {
      "description": "The new description for the server.",
      "type": "object",
      "required": [
        "description"
      ],
      "properties": {
        "description": {
          "type": "string",
          "format": "string",
          "example": "My awesome PEON game server."
        }
      }
    },
    "server.destroy": {
      "description": "A flag to explicitely delete all custom settings/data for a server.",
      "type": "object",
      "required": [
        "description"
      ],
      "properties": {
        "eradicate": {
          "type": "string",
          "format": "string",
          "example": "True"
        }
      }
    }
  }
}